body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1 {}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../imgs/SM.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doors {
  display: flex;
}

.door img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

.door {
  background: #9d56b3;
  width: 600px;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px;
  overflow: hidden;
  gap: 70px;
  margin: 10px 5px;
  border: 15px solid #3a102e;
}
.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;
  font-size: 3rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: #e6e648;
  color: black;
}

.form-container {
  margin-top: 20px;
  background-color: rgb(210, 218, 234);
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}

#winning-amount-display {
  font-size: 50px;
  color: rgb(10, 11, 10);
  margin-top: 10px;
}

#balance-amount,
#bet-amount {
  font-size: 50px;
  color: #333;
  margin-top: 10px;
}

#balance-display {
  font-size: 50px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.popup {
  display: none;
  position: fixed;
  margin-top: 370px;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 215, 0);
  border-radius: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 5;
}

.popup h2 {
  font-size: 2400px;
  margin-bottom: 10px;
  color: #4CAF50;
}
.win-message {
  font-size: 50px;
}
